BODY, TD {
  background-color:#d0e4fe;
}
#txt {
  font-family:verdana;
  font-size:50pt;
  /* font-weight:bold; */
}
#east
{
    display:block;
}
#west
{
    display:block;
}
#map 
{ 
width:500px; height:500px;
}
table.ETAtable 
{
	table-layout:auto;
	
}
#output
{
    width:500px;
} 
h1	
{
font-family:verdana;
font-size:36px;
font-style:italic;
color:gray;
text-align:left;
}
h3
{
font-family:verdana;
font-size:24px;
font-style:bold;
color:green;
text-align:left;
}
p
{
    /* for the ETAs */
    font-family:verdana;
    color:black;
    font-size:24px;
}
A {
}

A:Hover {
}

table,td
{
    border               : 1px solid #CCC;
    border-collapse      : collapse;
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
  max-width:425px;
}
td.ETA
{
	width:50%;
}
tbody td.favorite
{
    border-left:none;
}
tbody th.favorite
{
    border-left:none;
}
table
{
    border                :none;
    border                :0px solid #CCC;
}
thead th,
tbody th
{
    background            : #FFF url(th_bck.gif) repeat-x;
  color                 : #666;  
    padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
tbody tr td
{
    padding               : 5px 10px;
  color                 : #666;
}
tbody tr:hover
{
  background            : #FFF url(tr_bck.gif) repeat;
}

tbody tr:hover td
{
  color                 : #454545;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
    padding               : 4px;
  background            : #FFF url(foot_bck.gif) repeat;
  color                 : #666;
}
caption
{
    text-align            : left;
    font-size             : 120%;
    padding               : 10px 0;
    color                 : #666;
}

table a:link
{
    color                 : #666;
}
table a:visited
{
    color                 : #666;
}
table a:hover
{
    color                 : #003366;
    text-decoration       : none;
}
table a:active
{
    color                 : #003366;
}
